.App {
  text-align: center;
  background: url("./assets/container_pg.jpg");
  background-size: 100% 100%;
  height: 100vh;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  overflow: auto;
}

.App-header {
  padding: 36px 60px 16px 60px;
  position: relative;
}

.App-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: auto;
}

.App-title {
  font-size: 22px;
  font-weight: bold;
}

.App-slogan {
  border-top: 1.5px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin: 18px 0 8px 0;
  padding: 8px 0;
}

.App-tip {
  font-size: 12px;
  opacity: 0.5;
}

.content {
  /* height: calc(100vh - 204px); */
  /* overflow: auto; */
  padding: 0 20px;
  text-align: center;
}
.module {
  height: 220px;
  width: 44%;
  margin: 3%;
  float: left;
  border-radius: 10px;
  background: url("./assets/module_pg.png");
  background-size: 100% 100%;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.module .module-title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.module-title span {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  font-style: italic;
  margin: 0 0 8px 0;
  padding: 0 0 4px 0;
}
.module .opration {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}

.status-icon {
  width: 20px;
  height: 20px;
}
.status-btn {
  height: 20px;
  line-height: 20px;
  min-width: 80px;
  border-radius: 15px;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.3);
  color: #ffd000;
}
.status-btn::before,
.submit-btn::before {
  border: 0 !important;
}

.submit-btn {
  height: 30px;
  line-height: 30px;
  width: 120px;
  border-radius: 15px;
  font-size: 14px;
  top: 30px;
  font-weight: bold;
  margin: 30px auto 80px auto;
}

.status-btn.active {
  background: rgba(255, 255, 255);
  color: #000;
}

.am-button-small {
  padding: 0 12px;
}
.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  line-height: 40px;
  background: #182e49;
  opacity: 0.8;
  font-size: 16px;
  font-weight: bold;
  z-index: 99;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.c-modal {
  width: 90%;
}
.am-modal-content {
  background: #182e49;
}
.am-modal-title {
  color: #fff;
  padding: 40px 0 0 0;
  font-size: 22px;
  font-weight: bold;
}
.modal-content {
  padding: 30px 0 0 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.actions {
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions .am-button {
  height: 36px;
  line-height: 36px;
  width: 40%;
  border-radius: 18px;
  font-weight: bold;
}

.re-experience {
  height: 36px;
  line-height: 36px;
  width: 240px;
  margin: 20px auto;
}

.actions a.am-button::before {
  display: none;
}

.qrcode-container {
  border: 1px solid #63c3db;
  border-radius: 10px;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
}

.qrcode-tip {
  width: 160px;
  margin: 0 auto;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
}

.qrcode-image {
  margin: 20px auto 0 auto;
  width: 220px;
  padding: 10px;
  background: #fff;
}
